<h1>Edit <%= @host.name %></h1>

<form action="/hosts/<%=@host.id %>" method="POST">
  <label> Host Name </label>
  <input type="text" name="name" value="<%=@host.name %>"> </br>

  <label> Bag Capacity </label>
  <input type="number" name="capacity" value="<%=@host.capacity %>"> </br>

  <input type="submit" value="Update">
</form>
